@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html, body {
    padding: 0;
    margin: 0;
    height: 100%;
    font-family: "Montserrat", serif;
    font-weight: 400;
    display: flex;
    flex-direction: column;
}

:root{
    --one: #0096D1;
    --two: #00DF81;
}

/*header*/

header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: auto;
    padding: 10px 20px;
}

header .icon-logo i{
    padding-right: 50px;
    color: #0096D1;
}


/*main*/

main {
    flex-grow: 1;
}

.title h1{
    font-weight: 600;
}

.title p{
    font-weight: 500;
    color: rgb(75, 75, 75);
}

.form-task{
    width: 100%;
    height: auto;
    padding: 10px 20px;
}

.btn-add{
    border-color: var(--two);
    color: #01aa64;
}

.btn-add:hover{
    background-color: var(--two);
    color: #003a22;
}

.task-counter{
    margin: 10px;
    color: #01aa64;
}


.list-task{
    width: 100%;
    height: auto;
    padding: 10px 20px;
}

.list-group-item{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.fa-pencil{
    color: var(--one);
    padding: 0px 10px;
}

.fa-trash{
    color: rgb(172, 13, 13);
    padding: 0px 10px;
}


/*footer*/

footer{
    bottom: 0px;
    background-color: var(--one);
}

footer div p a{
    text-decoration: none;
    color: white;
    font-weight: 600;
}